# vim: st=2:ts=2:et
[user]
  email = petteri.valkonen@reaktor.com
  name = Petteri Valkonen
[credential]
  helper = /opt/boxen/bin/boxen-git-credential
[core]
  excludesfile = /opt/boxen/config/git/gitignore
[alias]
  st = status
  pullr = pull --rebase
  unstage = reset HEAD --
  last = log -1 --stat
  dt = difftool
[push]
  default = simple
[color]
  ui = auto
[rebase]
  autostash = true
[hub]
  protocol = https
[diff]
  tool = icdiff
[difftool "icdiff"]
  cmd = "icdiff -N $LOCAL $REMOTE"
[difftool]
  prompt = false
[commit]
  verbose = true
