# vim: ts=2 sw=2 et
[user]
  email = petteri.valkonen@iki.fi
  name = Petteri Valkonen
  signingkey = 0xA6324BAC952E9EED
[core]
  excludesfile = ~/.cvsignore
[alias]
  st = status
  pullr = pull --rebase
  unstage = reset HEAD --
  last = log -1 --stat
  dt = difftool
  uncommit = reset --soft HEAD^
  staged = diff --cached
[push]
  default = simple
[color]
  ui = auto
[rebase]
  autostash = true
[diff]
  tool = icdiff
[difftool "icdiff"]
  cmd = "icdiff --line-numbers $LOCAL $REMOTE"
[difftool]
  prompt = false
[diff "gpg-diff"]
  textconv = gpg --use-agent -q --batch --decrypt
[commit]
  verbose = true
[sequence]
  editor = interactive-rebase-tool
[includeIf "gitdir:~/work/"]
  path = ~/work/.gitconfig
[pull]
  rebase = true
[rebase]
  autosquash = true
  autostash = true
