add_newline = false

[cmd_duration]
disabled = true

[directory]
truncation_length = 3
truncate_to_repo = true

[hostname]
disabled = true

[username]
disabled = true

[nodejs]
disabled = true

[python]
disabled = true

[java]
disabled = true

[aws]
disabled = true
