URxvt.scrollBar: false
URxvt.intensityStyles: false
URxvt.font: xft:Cousine for Powerline:size=10
URxvt.letterSpace: -1
URxvt.cursorBlink: true
URxvt.visualBell: true
URxvt.urgentOnBell: true
URxvt.saveLines: 12000
URxvt.iso14755: false
URxvt.iso14755_52: false

URxvt.perl-ext-common: default,matcher,font-size,selection-to-clipboard
URxvt.url-launcher: xdg-open
URxvt.matcher.button: 1
URxvt.colorUL: 4
URxvt.keysym.C-Up:     perl:font-size:increase
URxvt.keysym.C-Down:   perl:font-size:decrease
URxvt.keysym.C-S-Up:   perl:font-size:incglobal
URxvt.keysym.C-S-Down: perl:font-size:decglobal

! Base16 Ocean
! Scheme: Chris Kempson (http://chriskempson.com)

#define base00 #2b303b
#define base01 #343d46
#define base02 #4f5b66
#define base03 #65737e
#define base04 #a7adba
#define base05 #c0c5ce
#define base06 #dfe1e8
#define base07 #eff1f5
#define base08 #bf616a
#define base09 #d08770
#define base0A #ebcb8b
#define base0B #a3be8c
#define base0C #96b5b4
#define base0D #8fa1b3
#define base0E #b48ead
#define base0F #ab7967

URxvt.foreground:   base05
URxvt.background:   base00
URxvt.cursorColor:  base05

URxvt.color0:       base00
URxvt.color1:       base08
URxvt.color2:       base0B
URxvt.color3:       base0A
URxvt.color4:       base0D
URxvt.color5:       base0E
URxvt.color6:       base0C
URxvt.color7:       base05

URxvt.color8:       base03
URxvt.color9:       base09
URxvt.color10:      base01
URxvt.color11:      base02
URxvt.color12:      base04
URxvt.color13:      base06
URxvt.color14:      base0F
URxvt.color15:      base07

rofi.foreground: S_base0
rofi.background: S_base03
rofi.highlightfg: S_green
rofi.highlightbg: S_base02 
rofi.font: Cousine 10
rofi.padding: 10
rofi.lines: 5
rofi.borderwidth: 0
rofi.opacity: 90
